.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: 	rgb(0, 255, 64);
    position: fixed;
    align-items: center;
    width: 100%;
}

body, html{
    width: 100%;
}

.word{
    color: black;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}

.word-no-font{
    color: black;
    font-size: 20px;
}

.image{
    height: 400px;
    margin-bottom: 40px;
}

.heading1{
    font-family: 'Patrick Hand', cursive; 
    color: black;
}

p{
    font-size: 20px;
}

li{
    font-size: 20px;
}